<html>
  <head>
    <title>Video Stream</title>
  </head>
  <body>
    <h1> Surveillance Stream</h1>
    <video id="myVideo" height="240" width="320" autoplay onended="run();" controls>   
        <source id="ss" src="/content" type='video/mp4'>
    </video>
        <script>
        videoPlayer = document.getElementById("ss");
        video=document.getElementById("myVideo");
        video.onended = function(e) {
        	videoPlayer.setAttribute("src", "/content")
          video.load();
          video.play();
        }
    </script>
  </body>
</html>